<!DOCTYPE html>
<html>
<head>
	<title>v-for!</title>
	<meta charset="utf-8">
	<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
	<div id="vue-app">
	<h1>v-for 循环</h1>
	<!-- 数组下标获取 -->
	<!--
	{{ characters[0] }}
	{{ characters[1] }}
	{{ characters[2] }}-->
	<!-- 数组遍历 -->
	<ul>
		<li v-for="character in characters">
			{{ character }}
		</li>
	</ul>

	<ul>
		<li v-for="(user, index) in users">
			{{ index }}. {{ user.name }} - {{ user.age }}
		</li>
	</ul>

	<template v-for="(user, index) in users">
		<h3> {{ index }} . {{ user.name }}</h3>
		<p> Age- {{ user.age }}</p>
	</template>

	<template v-for="(user, index) in users">
		<div v-for="(val, key) in user">
			{{ key }} : {{ val }}
		</div>
	</template>


	</div>
<script src="app6.js" type="text/javascript"></script>
</body>
</html>